<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anonymous.developer.www.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.anonymous.developer.www.model.Permission">
    <id column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="permission_description" jdbcType="VARCHAR" property="permissionDescription" />
    <result column="permission_parent_id" jdbcType="INTEGER" property="permissionParentId" />
    <result column="create_datetime" jdbcType="TIMESTAMP" property="createDatetime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operator_ip" jdbcType="VARCHAR" property="operatorIp" />
    <result column="operate_datetime" jdbcType="TIMESTAMP" property="operateDatetime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.anonymous.developer.www.model.Permission" useGeneratedKeys="true">
    insert into permission (permission_id, permission_name, permission_description, 
      permission_parent_id, create_datetime, operator, 
      operator_ip, operate_datetime)
    values (#{permissionId,jdbcType=INTEGER}, #{permissionName,jdbcType=VARCHAR}, #{permissionDescription,jdbcType=VARCHAR}, 
      #{permissionParentId,jdbcType=INTEGER}, #{createDatetime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}, 
      #{operatorIp,jdbcType=VARCHAR}, #{operateDatetime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.anonymous.developer.www.model.Permission">
    update permission
    set permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_description = #{permissionDescription,jdbcType=VARCHAR},
      permission_parent_id = #{permissionParentId,jdbcType=INTEGER},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR},
      operator_ip = #{operatorIp,jdbcType=VARCHAR},
      operate_datetime = #{operateDatetime,jdbcType=TIMESTAMP}
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select permission_id, permission_name, permission_description, permission_parent_id, 
    create_datetime, operator, operator_ip, operate_datetime
    from permission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </select>
  <select id="selectRoleNameByAccountPrimaryKey" parameterType="java.lang.Integer" resultType="java.lang.String">
    select role_name
    from role
    inner join relation_account_role
    on role.role_id = relation_account_role.role_id
    where relation_account_role.account_id = #{accountId,jdbcType=INTEGER}
  </select>
  <select id="selectLimit" resultMap="BaseResultMap">
    select permission_id, permission_name, permission_description, permission_parent_id,
    create_datetime, operator, operator_ip, operate_datetime
    from permission
    where permission_name like CONCAT('%',#{keyWord,jdbcType=VARCHAR},'%')
    OR permission_description like CONCAT('%',#{keyWord,jdbcType=VARCHAR},'%')
    limit #{startRow,jdbcType=INTEGER},#{endRow,jdbcType=INTEGER}
  </select>
  <select id="selectCountAll" resultType="java.lang.Integer">
    select count(*) from permission
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select permission_id, permission_name, permission_description, permission_parent_id, 
    create_datetime, operator, operator_ip, operate_datetime
    from permission
  </select>
</mapper>